<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio - Mein Name</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <nav>
      <h1>Mein Portfolio</h1>
      <ul>
        <li><a href="#about">Über mich</a></li>
        <li><a href="#projects">Projekte</a></li>
        <li><a href="#certificates">Zertifikate</a></li>
        <li><a href="#contact">Kontakt</a></li>
      </ul>
    </nav>
  </header>

  <section id="about">
    <h2>Über mich</h2>
    <p>Diese Seite bietet Ihnen einen Einblick in meine bisherigen Leistungen und Projekte. Hier präsentiere ich nicht nur meine Fähigkeiten, sondern auch meine persönliche Entwicklung und Visionen für die Zukunft.</p>
  </section>

  <section id="projects">
    <h2>Projekte</h2>
    <div class="project">
        <h3>Diplomarbeit Garagenparkmanager</h3>
        <p>Beschreibung des Projekts...</p>
        <a href="https://github.com/sebastiankrallinger/Diplomarbeit_Garagenparkmanager_Krallinger_Kirchtag" target="_blank">Zum Repository</a>
      </div>
      <div class="project">
        <h3>Notiz-App</h3>
        <p>Beschreibung des Projekts...</p>
        <a href="https://github.com/philippkirchtag/POS_Projekt_2024" target="_blank">Zum Repository</a>
      </div>
    <div class="project">
      <h3>MBot2 Projekt</h3>
      <p>Beschreibung des Projekts...</p>
      <a href="https://github.com/sebastiankrallinger/SYP_GRUPPE_3_2024" target="_blank">Zum Repository</a>
    </div>
    <div class="project">
        <h3>CaSiiino</h3>
        <p>Beschreibung des Projekts...</p>
        <a href="https://github.com/sebastiankrallinger/SYP_Gruppe3_CaSiiino" target="_blank">Zum Repository</a>
      </div>
  </section>

  <section id="certificates">
    <h2>Zertifikate & Badges</h2>
    <ul>
      <li>Zertifikat 1: Beispielzertifikat</li>
      <li>Zertifikat 2: Weiteres Zertifikat</li>
    </ul>
  </section>

  <section id="contact">
    <h2>Kontakt</h2>
    <p>Sie möchten mehr über mich erfahren oder haben Interesse an einer Zusammenarbeit? Kontaktieren Sie mich gerne.</p>
    <form action="#" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      
      <label for="email">E-Mail:</label>
      <input type="email" id="email" name="email" required>
      
      <label for="message">Nachricht:</label>
      <textarea id="message" name="message" required></textarea>
      
      <button type="submit">Absenden</button>
    </form>
  </section>

  <footer>
    <p>&copy; 2024 Mein Name. Alle Rechte vorbehalten.</p>
  </footer>

  <link rel="stylesheet" href="/styles.css">
</body>
</html>
